*{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3 {
    font-family: 'Catchy Mager';
}
p {
    font-family: 'Montserrat';
}
ul {
    font-family: 'Montserrat';
}
ul {
    font-family: 'Times New Roman', Times, serif'
}

header{
    width: 100%;
    padding: 28px 8%;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#nav_logo {
    font-size: 4px;
    color: #e9a209;
}
#navbar img {
    width: 105px;
    height: auto;
    margin-left: 15px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    font-size: 24px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav-item.active a {
    color: 1d1d1d;
    border-bottom: 3px solid #ffe100;
}

#mobile_btn {
    display: none;
    align-items: left;
    color: #fff;
}

#mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen  and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        list-style: none;
        text-align: left;
    }
    
}